body {
  background-color: #faf8ef82;
  display: flex;
  justify-content: center;
  font-family: "Clear Sans", "Helvetica Neue", sans-serif; 
}

h1 {
  font-size: 70px;
  color: #665d55;
  margin: 0px;
}

.container {
  width: 468px;
  margin-top: 15px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
  height: 70px;
  border-radius: 3px;
  background-color: #665d55;
  color: #FFFFFF;
}

.score-title {
  font-size: 25px;
} 

#score {
  font-size: 30px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 456px;
  height: 456px;
  background-color: #665d55;
  border: 7px solid #665d55;
  border-radius: 6px;
  margin-top: 20px;
}

div, span {
  text-align: center;
}

.grid div {
  width: 100px; 
  height: 100px;
  margin: 7px;
  border-radius: 3px;
  background-color: #EEE4DA;
  color: #eee4da;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
  line-height: 1.6;
}